header {
    background-color: var(--clr1);
}

.main-header{
    height: 100%;
}

.main-header form {
    width: 40%;
}
.main-header form input{
    width:70%;
    line-height: 2;
    color: var(--clr1);
}
.main-header form button{
    color: var(--clr1);
    padding:0.5em;
}
.main-logo{
    font-size: 5em;
    font-family: "Comic Sans MS";
}